div.content{width: 100%; padding-top: 15px; padding-top: 15px;}
p.title{color: #282d26; font-size: 1.5em; margin-top: 15px; margin-bottom: 10px; margin-left: 37px;}
div.row_produce{width: 90%; height: 280px; margin-left: 37px; border: 10px solid #c2c7be;}
div.produce{display: inline-block; margin-left: 30px;}
div.produce a img{margin-top: 20px;}
p.name{color: #4a7d4e; font-weight: bold; text-align: center; padding: 10px;}
p.price{color: #634202; font-weight: bold; text-align: center; font-size: 16px;}
p.detail{text-align: center;text-decoration: underline; padding: 7px;}
div.row_news{width: 95%; height: 320px; margin-left: 37px;}
div.news{width: 33%; display: inline-block;}
p.name_news{color: #4a7d4e; font-weight: bold; text-align: center; padding: 10px; font-size: 1.2em;}
p.description{padding: 5px 10px;}
p.more{text-transform: uppercase; text-align: center; border: 5px solid #bfc4bb; padding: 5px 5px; width: 90px; margin-top: 5px; margin-left: 70px;}
p.more a{color: #828680;}
